adrf==0.1.4
aiodns==3.0.0
aiogram==2.25.1
aiohttp==3.8.4
aiosignal==1.3.1
aiosqlite==0.19.0
anyio==3.7.1
APScheduler==3.6.3
asgiref==3.7.2
async-property==0.2.2
async-timeout==4.0.2
attrs==22.2.0
Babel==2.9.1
beautifulsoup4==4.12.2
bs4==0.0.1
cachetools==4.2.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.0.1
cryptography==41.0.7
defusedxml==0.8.0rc2
distlib==0.3.6
dj-rest-auth==5.0.2
Django==5.0.2
django-allauth==0.61.1
django-autoslug==1.9.9
django-ckeditor==6.7.1
django-cors-headers==4.2.0
django-environ==0.11.2
django-etc==1.4.0
django-extensions==3.2.3
django-filter==1.1.0
django-hitcount==1.3.5
django-js-asset==2.2.0
django-modeltranslation==0.18.10
django-ranged-response==0.2.0
django-rest-passwordreset==1.2.1
django-richtextfield==1.6.1
django-semantic-admin==0.4.1
django-shortuuidfield==0.1.3
django-simple-captcha==0.6.0
django-tinymce==3.7.1
django-utils-six==2.0
djangorestframework==3.14.0
djangorestframework-filters==0.11.1
drf-yasg==1.21.7
filelock==3.9.0
frozenlist==1.3.3
geographiclib==2.0
geopy==2.3.0
gunicorn==21.2.0
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
idna==3.4
inflection==0.5.1
Jinja2==3.1.2
magic-filter==1.0.9
MarkupSafe==2.1.3
mpmath==1.3.0
multidict==6.0.4
networkx==3.1
oauthlib==3.2.2
Obhavo==0.4
packaging==23.2
Pillow==9.5.0
pipenv==2023.3.20
platformdirs==3.0.0
psycopg2==2.9.9
psycopg2-binary==2.9.6
pycares==4.3.0
pycparser==2.21
PyJWT==2.8.0
python-decouple==3.8
python-telegram-bot==13.7
python3-openid==3.2.0
pytube==15.0.0
pytz==2023.3
PyYAML==6.0.1
regex==2023.3.23
requests==2.28.2
requests-oauthlib==1.3.1
shortuuid==1.0.11
six==1.16.0
sniffio==1.3.0
social-auth-app-django==5.4.0
social-auth-core==4.5.1
soupsieve==2.4.1
sqlparse==0.4.3
stripe==8.1.0
sympy==1.12
telegram==0.0.1
tk==0.1.0
torch==2.0.1
tornado==6.3.2
typing_extensions==4.6.3
tzlocal==5.0.1
ujson==5.7.0
uritemplate==4.1.1
urllib3==1.26.14
uvloop==0.17.0
virtualenv==20.19.0
virtualenv-clone==0.5.7
whitenoise==6.5.0
wikipedia==1.4.0
yarl==1.8.2
